<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Equipment</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/icon/delf.ico" type="image/x-icon">
</head>
<body>
<header>
    <h1>Add New Equipment</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addEquipment">Add Equipment</a></li>
        <li><a href="/reports">Reports</a></li>
    </ul>
</nav>
<main>
    <form id="equipmentForm" class="form-center">
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="Laptop">Laptop</option>
                <option value="Desktop">Desktop</option>
                <option value="Printer">Printer</option>
                <option value="Monitor">Monitor</option>
                <option value="Server">Server</option>
                <!-- Остальные линии, мне просто лень -->
            </select>
        </div>
        <div class="form-group">
            <label for="product_line">Product Line:</label>
            <select id="product_line" name="product_line" required>
                <option value="Business">Business</option>
                <option value="Gaming">Gaming</option>
                <option value="Printing">Printing</option>
                <option value="Display">Display</option>
                <option value="Server">Server</option>
                <!-- Остальные линии, мне просто лень -->
            </select>
        </div>
        <div class="form-group">
            <label for="name_product">Name Product:</label>
            <input type="text" id="name_product" name="name_product" required>
        </div>
        <div class="form-group">
            <label for="serial_number">Serial Number:</label>
            <input type="text" id="serial_number" name="serial_number" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="market_price">Market Price:</label>
            <input type="number" step="0.01" id="market_price" name="market_price">
        </div>
        <div class="form-group">
            <label for="purchase_price">Purchase Price:</label>
            <input type="number" step="0.01" id="purchase_price" name="purchase_price">
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Maintenance">Maintenance</option>
            </select>
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <button type="button" class="styled-button" onclick="submitForm()">Add Equipment</button>
        </div>
    </form>
</main>
<script src="/addEquipmentScript.js"></script>
</body>
</html>
