<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment List</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/icon/delf.ico" type="image/x-icon">
</head>
<body>
<header>
    <h1>Equipment List</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addEquipment">Add Equipment</a></li>
        <!-- <li><a href="/updateEquipment">Update Equipment</a></li> -->
        <!-- <li><a href="/searchEquipment">Search Equipment</a></li> -->
        <li><a href="/reports">Reports</a></li>
    </ul>
</nav>
<main>
    <div class="filter-container">
        <label for="filterSelect" class="filter-label">
            <img src="/icon/filter-icon.png" alt="Filter Icon" class="filter-icon">
            <select id="filterSelect">
                <option value="all">All</option>
                <option value="laptop">Laptop</option>
                <option value="desktop">Desktop</option>
                <!-- Добавьте другие опции по необходимости -->
            </select>
        </label>
        <label for="searchInput" class="search-label">
            <img src="/icon/search-icon.png" alt="Search Icon" class="search-icon">
            <input type="text" id="searchInput" placeholder="Поиск по серийному номеру или названию продукта...">
        </label>
    </div>
    <table id="equipmentTable" class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Product Line</th>
            <th>Name Product</th>
            <th>Serial Number</th>
            <th>Status</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Динамическое появление -->
        </tbody>
    </table>
</main>

<!-- Модальное окно -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Выберите действие:</p>
        <button id="editButton">Изменить</button>
        <button id="deleteButton">Удалить</button>
    </div>
</div>
<script src="/indexScript.js"></script>
</body>
</html>
