<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/icon/delf.ico" type="image/x-icon">
</head>
<body>
<header>
    <h1>Reports</h1>
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addEquipment">Add Equipment</a></li>
        <!-- <li><a href="/updateEquipment">Update Equipment</a></li> -->
        <!-- <li><a href="/searchEquipment">Search Equipment</a></li> -->
        <li><a href="/reports">Reports</a></li>
    </ul>
</nav>
<main>
    <form id="reportForm" class="form-center">
        <div class="form-group">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="startDate">
        </div>
        <div class="form-group">
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="endDate">
        </div>
        <div class="form-group">
            <label for="serial_number">Serial Number:</label>
            <input type="text" id="serial_number" name="serialNumber">
        </div>
        <button type="submit">Generate Report</button>
    </form>
    <div id="report" style="display: none;">
        <table class="styled-table">
            <thead>
            <tr>
                <th>Serial Number</th>
                <th>Current Status</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody id="reportTableBody">
            <!-- Report rows will be inserted here -->
            </tbody>
        </table>
    </div>
</main>
<footer>
    <p>&copy; 2024 Equipment Management System</p>
</footer>
<script src="/reportScript.js"></script>
</body>
</html>
